/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(206, 205, 205);
    display: flex;  align-items: center;    justify-content: center; 
    height: 100vh; /*in order to use flexbox on body we must set a height*/
    background: linear-gradient(rgb(8, 8, 39), rgb(24, 24, 75), rgb(42, 42, 70));
}